body {
    background-color: #272D2D;
    color: #EEF0F2;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.rectangle-box {
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #EEF0F2;
    color: #272D2D;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.color-code {
    text-align: center;
    margin-top: 10px;
}

.color-box {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #ffffff;
    margin-top: 10px;
    text-align: center;
    line-height: 50px;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    color: #EEF0F2;
    text-decoration: none;
    margin: 0 10px;
}

.c { color: #00E5E8; }
.o { color: yellow; }
.l { color: #FF3CC7; }
.u { color: #E3879E; }
.r { color: #76E7CD; }
.s { color: #E5989B; }
